* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
   list-style: none;
   display: flex;
   gap: 30px;
}

.logo {
   font-size: 24px;
}

a {
   color: #E5E7EB;
   text-decoration: none;
   font-size: 18px;
}

header {
   display: flex;
   /* padding: 10px 75px 10px 75px;*/
   justify-content: space-around;
   align-items: center;
   padding: 25px
}

.main {
   display: flex;
   height: 60vh;
   align-items: center;
   justify-content: center;
   background-color: #1F2937;
   margin-top: 0;
   gap: 17px
}

.content-right {
   flex: 1;
   margin-right: 290px;
}

.img-top {
   max-width: 100%;
   height: auto;
}

.content-left {
   margin-left: 235px;
   flex: 1;
   display: flex;
   flex-wrap: wrap;
   padding: 50px;
   color: #F9FAF8;
}

.top-p {
   font-size: 18px;
}

.top-button {
   margin-top: 15px;
   padding: 7px 25px;
   background-color: #3882F6;
   color: #F9FAF8;
   border-radius: 5px;
   font-size: 18px;
   font-weight: 500;
   border: 0;
}

#top-header {
   background-color: #1F2937;
}

.logo {
   color: #F9FAF8
}

#main-title {
   font-size: 48px;
}




/* Second Section */

.second-main {
   height: 57vh;
   text-align: center;
}

.second-head {
   font-size: 36px;
   padding: 25px;
}

.second-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.box {
   border: 4px solid #3882F6;
   height: 150px;
   width: 150px;
   align-items: center;
   border-radius: 5px;
   margin-bottom: 5px;
}

.box-text {
   width: 150px;
   color: grey;
}


/* Third Section */

.third-main {
   height: 49vh;
   background-color: #E5E7EB;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-left: 400px;
   padding-right: 400px;
}

.quote {
   font-size: 36px;
   font-style: italic;
   font-weight: 100;
}

.quoter{
   align-self: last baseline;
   font-size: 27px;
   font-weight: bold;
}